@use "./mixins//mixins.scss" as *;
@use "common/var.scss" as *;

@include b(button) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 32px;
  line-height: 1;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  color: $color-text;
  border: 1px solid $color-border;
  border-radius: 4px;
  background-color: $color-white;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  -webkit-appearance: none;
  & + .s-button {
    margin-left: 12px;
  }
  [class*="s-icon"] + span {
    margin-left: 6px;
  }
  span {
    display: inline-flex;
    align-items: center;
  }
  @include when(round) {
    border-radius: 20px;
  }
  @include m(small) {
    height: 24px;
    padding: 5px 11px;
    font-size: 12px;
    border-radius: 3px;
  }
  @include m(large) {
    height: 40px;
    padding: 12px 19px;
  }
  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  @include when(loading) {
    position: relative;
    pointer-events: none;
    // -1px 遮住边框
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  @include m(primary) {
    @include button-variant($color-white, $color-primary, $color-primary);
    &:not(.is-disabled) {
      &:hover {
        box-shadow: 0 4px 10px 0 rgba(41, 112, 246, 0.3);
      }
      &:active {
        background-color: $color-active;
      }
    }
  }
  @include m(success) {
    @include button-variant($color-white, $color-success, $color-success);
  }
  @include m(warning) {
    @include button-variant($color-white, $color-warning, $color-warning);
  }
  @include m(danger) {
    @include button-variant($color-white, $color-danger, $color-danger);
  }
  @include m(info) {
    @include button-variant($color-white, $color-info, $color-info);
  }
}
