@use "./mixins//mixins.scss" as *;
@use "./common/var.scss" as *;

@include b(checkbox) {
  display: inline-flex;
  align-items: center;
  height: 32px;
  margin-right: 30px;
  font-size: $font-size-base;
  font-weight: 500;
  color: $color-text;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  @include e(input) {
    display: inline-flex;
    vertical-align: middle;
    @include when(checked) {
      .#{$namespace}-checkbox__inner {
        border-color: $color-primary;
        background-color: $color-primary;
        &:after {
          border-color: $color-white;
          transform: rotate(45deg) scaleY(1);
        }
      }
      & + .#{$namespace}-checkbox__label {
        color: $color-primary;
      }
    }
    @include when(disabled) {
      .#{$namespace}-checkbox__inner {
        border-color: $color-border;
        background-color: $color-bg-disabled;
      }
      & + span.#{$namespace}-checkbox__label {
        color: $color-placeholder-text;
      }
      &.is-checked {
        .#{$namespace}-checkbox__inner {
          &::after {
            border-color: $color-placeholder-text;
          }
        }
      }
      &.is-indeterminate {
        .#{$namespace}-checkbox__inner {
          border-color: $color-border;
          background-color: $color-bg-disabled;
          &::before {
            background-color: $color-placeholder-text;
          }
        }
      }
    }
    @include when(indeterminate) {
      .#{$namespace}-checkbox__inner {
        border-color: $color-primary;
        background-color: $color-primary;
        &:after {
          display: none;
        }
        &:before {
          content: "";
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: $color-white;
          transform: scale(0.5);
        }
      }
    }
  }
  @include e(origin) {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
  }
  @include e(inner) {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid $color-border;
    background-color: $color-white;
    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 4px;
      width: 3px;
      height: 7px;
      border: 1px solid transparent;
      border-left: 0;
      border-top: 0;
      transform-origin: center;
      transform: rotate(45deg) scaleY(0);
      transition: transform 0.15s ease-in 0.05s;
    }
  }
  @include e(label) {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    padding-left: 8px;
  }
  @include when(disabled) {
    cursor: not-allowed;
  }
}
