@use "./mixins/mixins.scss" as *;
@use "./common/var.scss" as *;

@include b(radio) {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 32px;
  margin-right: 32px;
  font-size: $font-size-base;
  font-weight: 500;
  color: $color-text;
  white-space: nowrap;
  outline: none;
  user-select: none;
  cursor: pointer;
  @include e(input) {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    @include when(checked) {
      .#{$namespace}-radio__inner {
        border-color: $color-primary;
        &:after {
          background-color: $color-primary;
          transform: translate(-50%, -50%) scale(1);
        }
      }
      & + .#{$namespace}-radio__label {
        color: $color-primary;
      }
    }
    @include when(disabled) {
      .#{$namespace}-radio__inner {
        border-color: $color-border;
      }
      & + span.#{$namespace}-radio__label {
        color: $color-placeholder-text;
      }
      &.is-checked {
        .#{$namespace}-radio__inner {
          &::after {
            background-color: $color-placeholder-text;
          }
        }
      }
    }
  }
  @include e(origin) {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
  }
  @include e(inner) {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid $color-border;
    background-color: $color-white;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 7px;
      height: 7px;
      border-radius: 1px;
      background-color: $color-white;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.15s ease-in;
    }
  }
  @include e(label) {
    vertical-align: middle;
    padding-left: 8px;
  }
  @include when(disabled) {
    cursor: not-allowed;
  }
}
