$namespace: "s";
$element-separator: "__";
$modifier-separator: "--";
$state-prefix: "is-";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
}
::-webkit-scrollbar {
  width: 6px;
  &-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
