$color-black: #27243f;
$color-white: #ffffff;
$color-text: #616998;
$color-primary: #2970f6;
$color-success: #67c23a;
$color-warning: #ff8047;
$color-danger: #f0667f;
$color-info: #50a9eb;

$color-active: #104fcd;

$color-placeholder-text: #ccd1de;
$color-border-disabled: #b5bdc7;
$color-bg-disabled: #f5f7fa;
